set from = "$RC_FROM"
set realname = "$RC_REALNAME"

set imap_user = "\$from"
set smtp_url = "smtps://\$from@smtp.${RC_FROM##*@}:465/"
set smtp_authenticators = 'gssapi:login'

set imap_pass = "\`pass mail/\$from\`"
set smtp_pass = "\`pass mail/\$from\`"

set ssl_starttls = yes
set ssl_force_tls = yes

set folder = "imaps://imap.gmail.com:993/"
set spoolfile = "imaps://imap.gmail.com:993/INBOX"
mailboxes -notify -poll "\$spoolfile"
set new_mail_command = "notify-send -u normal -a \\"neomutt\\" -t 2000 -i info \\"You've got mail!\\" \$from"
unset record

] rc/common.rc
